.catalog {
  padding: 20px 0;
  background-color: #f3f3f3;
  &__inner {
    display: flex;
    &-blocks {
      padding-left: 10px;
    }
  }
  &__sideBar {
    position: relative;
    width: 400px;
    height: 700px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 30px 15px;
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: left;
      gap: 17px;
      border-radius: 10px;
      padding: 13px 5px;
      &[f="cool"]:is(:active, :hover) {
        background: rgba(135, 135, 135, 0.2);
      }
      & h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        color: #000;
      }
      & p {
        cursor: pointer;
        color: #878787;
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 35px;
        display: flex;
        align-items: center;
        column-gap: 5px;
        & img {
          width: 10.07px;
          height: 20px;
          margin-top: 4.08px;
        }
      }
    }
    &-checks {
      overflow-y: auto;
      height: 300px;
    }
    &-type {
      margin-top: 40px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 21px;
      line-height: 35px;
      color: #000;
    }
    &-year {
      display: flex;
      margin-top: 19px;
      align-items: center;
      gap: 8px;
      & input {
        width: 130px;
        height: 14px;
        outline-color: #c94cee;
        border: 2px solid #2fe09b;
        border-radius: 8px;
        padding: 15px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24.38px;
        color: #a5a5a5;
        opacity: 0.9;

        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }
    }
    &-useBtn {
      display: flex;
      gap: 11px;
      position: absolute;
      bottom: 10px;
      & input {
        width: 175px;
        height: 52px;
        border: none;
        border-radius: 8px;
        background-color: #c94cee;
        text-transform: uppercase;
        color: #fff;
        transition: all 500ms ease;
      }
      & input:nth-child(2) {
        background-color: #ad02e0;
      }
      & input:hover {
        box-shadow: 0px 0px 20px #ad02e0;
      }
      & input:active {
        background-color: #740994;
        transition: all 0s;
        box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.25);
      }
    }
  }
  &__selectore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 33px 0;
    &-paginate {
      height: 55px;
      width: 222px;
      display: flex;
      align-items: center;
      &_allBack {
        height: 24px;
        width: 31px;
        background: url("../assets/btnSelectors/left.svg") left / 50% 100%
            no-repeat,
          url("../assets/btnSelectors/left.svg") right / 100% 100% no-repeat;
        border: none;
        outline: none;
      }
      &_left {
        height: 24px;
        width: 20px;
        border: none;
        outline: none;
        background: url("../assets/btnSelectors/left.svg") center/100% 100%
          no-repeat;
      }
      &_right {
        height: 24px;
        width: 20px;
        border: none;
        outline: none;
        background: url("../assets/btnSelectors/right.svg") center/100% 100%
          no-repeat;
      }
    }
  }
}
.jarno {
  font-size: 35px !important;
  line-height: 43px !important;
}
