.footer {
  background-color: #fff;
  padding: 5px 0;
  overflow: hidden;
  &__first {
    position: relative;
    margin-bottom: 30px;
    &::after {
        content: '';
        position: absolute;
        bottom: -24px;
        left: -999%;
        width: 1500%;
        height: 1.6px;
        background-color: #BBBBBB;
    }
  }
  &__blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-footLog {
      display: flex;
      align-items: center;
      column-gap: 5.9px;
      & li {
        & h2 {
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
          font-size: 20px;
          line-height: 24.38px;
          margin-bottom: 4px;
        }
        & p {
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 19.5px;
          color: #000;
        }
      }
    }
    &-links {
        display: flex;
        flex-direction: column;
        gap: 32px;
        &_item {
            display: flex;
            column-gap: 17px;
            align-items: center;
            cursor: pointer;
            & p {
                font-family: 'Roboto', sans-serif;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #000;

            }
        }
    }
  }
  &__second {
    padding: 15px 0;
    &-blocks {
        display: flex;
        padding-top: 18px;
        justify-content: center;
        gap: 32px;
        & li {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #000;
            cursor: pointer;
        }
        &_under {
            text-decoration: underline;
        }
    }
  }
}
