.header {
  background: #fff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  &__nav {
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_logo {
        display: flex;
        align-items: center;
        column-gap: 5px;
        &-title {
          & h2 {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 20px;
            line-height: 24.38px;
            margin-bottom: 4px;
          }
          & p {
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 19.5px;
            color: #878787;
          }
        }
      }
      &_search {
        position: relative;
        & input {
          width: 342px;
          height: 56px;
          background-color: #ffffff;
          outline-color: #ad02e0;
          border: 2px solid #878787;
          border-radius: 8px;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-size: 20px;
          line-height: 24.38px;
        }
        &-loupe {
          position: absolute;
          z-index: 5;
          left: 19px;
          top: 16.8px;
          animation: Opacil 3s ease-in-out;
        }
      }
      &_login {
        column-gap: 20px;
        display: flex;
        &-logIn {
          width: 126px;
          height: 43px;
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          text-transform: uppercase;
          background-color: transparent;
          border-radius: 8px;
          border: 2px solid #ad02e0;
          &:hover {
            background-color: #ad02e0;
            box-shadow: 0px 0px 20px #ad02e0;
            color: #ffffff;
            transition: all 500ms ease;
          }
          &:active {
            background-color: #740994;
            transition: all 0s;
            box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.25);
          }
          & a {
            width: 190px;
            color: #000;
            &:hover {
              color: #fff;
            }
          }
        }
        &-registrate {
          width: 190px;
          height: 43px;
          background-color: #ad02e0;
          color: #ffffff;
          border-radius: 8px;
          border: none;
          text-transform: uppercase;
          font-family: "Montserrat", sans-serif;
          line-height: 20px;
          font-size: 16px;
          font-weight: 400;
          &:hover {
            background-color: #ad02e0;
            box-shadow: 0px 0px 20px #ad02e0;
            color: #ffffff;
            transition: all 500ms ease;
          }
          &:active {
            background-color: #740994;
            transition: all 0s;
            box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.25);
          }
          & a {
            width: 190px;
            color: #fff;
          }
        }
      }
    }
  }
}

.active {
  display: none;
}

@keyframes Opacil {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
