.registrate {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.82);
  z-index: 99;
  width: 100%;
  text-align: center;
  overflow: auto;
  &__main {
    display: inline-block;
    width: 603px;
    max-width: 100%;
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    position: relative;
  }
  &::after {
    content: "";
    display: inline-block;
    font-size: 0;
    height: 100%;
    vertical-align: middle;
    width: 0;
  }
  &__content {
    border-radius: 30px;
    padding: 31px 56px;
    background-color: #fff;
    text-align: left;
    &-x {
      text-align: right;
    }
    &-log {
      margin-top: 13px;
      display: flex;
      text-align: left;
      gap: 30px;
      border-bottom: 2px solid #878787;
      & p {
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        color: #000;
        position: relative;
        &::after {
          position: absolute;
          bottom: -3px;
          left: 0;
          content: "";
          width: 0;
          margin-left: 50%;
          height: 4px;
          border-radius: 8px;
          background-color: #ad02e0;
        }
        &:hover::after {
          transition: all 500ms ease-in-out;
          position: absolute;
          bottom: -3px;
          left: 0;
          content: "";
          width: 100%;
          margin: 0;
          width: 100%;
          height: 4px;
          border-radius: 8px;
          background-color: #ad02e0;
        }
      }
    }
    &-img {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 21px;
      & img {
        width: 181px;
        height: 181px;
        border-radius: 50%;
      }
      & label {
        margin-top: 21px;
        position: relative;
        display: inline-block;
        & span {
          position: relative;
          display: inline-block;
          cursor: pointer;
          outline: none;
          text-decoration: none;
          font-size: 16px;
          line-height: 19.5px;
          text-transform: uppercase;
          font-weight: 400;
          font-family: "Montserrat", sans-serif;
          vertical-align: middle;
          color: #000;
          text-align: center;
          border-radius: 4px;
          background-color: transparent;
          line-height: 22px;
          height: 40px;
          padding: 10px 20px;
          box-sizing: border-box;
          border: none;
          margin: 0;
        }
        & input {
          position: absolute;
          z-index: -1;
          opacity: 0;
          display: block;
          width: 0;
          height: 0;
        }
      }
    }
    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      & input {
        padding: 10px 8.5px;
        width: 460px;
        height: 37px;
        outline: none;
        border: 1.5px solid #000;
        border-radius: 8px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        color: #878787;
      }
      & button {
        width: 460px;
        height: 37px;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;
        text-transform: uppercase;
        background-color: #AD02E0;
        color: #fff;
        border-radius: 8px;
        border: none;
      }
    }
  }
}
