.sidebarItem {
  position: relative;
  display: flex;
  & span::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: 2px solid #2fe09b;
    border-radius: 5px;
    transition: all 400ms;
  }
  & p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 45px;
    color: #000;
    margin-left: 45px;
  }
  & input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  & input:checked + span::before {
    background: url('../assets/catalog/Check.svg') center no-repeat;
    background-color: #2FE09B;
    background-size: 80% 80%;
    transition: all 400ms;
    box-shadow: 0px 0px 20px #2FE09B;
}
}

.check:checked {
  background-color: red;
}
